services:
  app:
    build:
      context: ./
      dockerfile: Dockerfile
      target: dep
    image: neuralearn
    container_name: neuralearn-app
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    volumes:
      - .:/app
      - /app/node_modules
      - /app/node_modules/.bin
      - /app/.next
    command: pnpm run dev